HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
**/out/
**/build/
.DS_Store
kodilla-exception/
kodilla-good-patterns/build.gradle
kodilla-good-patterns/src/main/java/com/kodilla/good/patterns/challengesExample/
kodilla-rps/
kodilla-spring-intro/
kodilla-spring/
kodilla-hibernate/
kodilla-jdbc/
kodilla-pattern2/
kodilla-patterns/
kodilla-stream/



kodilla-testing/src/main/java/com/kodilla/testing/forum/
kodilla-testing/src/test/java/com/kodilla/testing/forum/tdd/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

